*{
    margin: 0;
    padding: 0;
}

#gameBoard{
    padding: 5px 5px;
    margin: 10vh auto;
    border: 1px solid black;
    width: fit-content;
    height: 60vh;
    display: flex;
    box-sizing: border-box;
    
}

.game-box{
    
    margin: 0 2px;
    min-width: 150px;
    height: calc(99% / 3); 
    background-color: lightgray; 
    border: 1px solid black;
}